.custom-bullet {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: #EDF5F3;
    transform: rotate(-45deg); /* 旋转 -45 度 */
  }
  
  .custom-bullet.swiper-pagination-bullet-active {
    width: 28.28px;
    height: 28.28px;
    border-radius: 2px;
    border: 3px solid;
    transform: rotate(90deg); /* 旋转 90 度 */
    background: linear-gradient(90deg, #A4D3A4 100%, #4BA48C 100%);
    border-image: linear-gradient(90deg, #A4D3A4 100%, #4BA48C 100%);
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  